.nav-container{
    display: flex;
    align-items: center;
    padding: 0.625rem 6.25rem;
    width: 100%;
    height: 3.125rem;
    justify-content: left;
    position: fixed;
    background-color: #383838;
    top: 0;
    z-index: 1000;
  }
  
.nav-logo{
  width: 3rem;
}

.nav-link-logo{
  width: fit-content;
}

.nav-search{
  height: 0.1rem;
  width: 50rem;
  border-radius: 0.16rem;
  border: none;
  padding: 1rem;
  margin: 0rem 8rem;
  color: black;
  
}

.nav-button{
  background-color: #FF3C3C;
  border: none;
  height: 2rem;
  width: 10rem;
  border-radius: 0.16em;
  font-weight: bold;
}

.nav-button:hover{
  background-color: #df3030;
}

@media only screen and (max-width: 768px){
  .nav-container{
    padding: 0.625rem 4rem;
    width: 100%;
  }

  .nav-logo{
    margin-right: auto;
  }

  .nav-search{
    width: 31rem;
    margin: 0rem 2rem;
  }
}

@media only screen and (max-width: 480px){
  .nav-container{
    padding: 0.625rem 3rem;
    width: 100%;
    
  }

  .nav-search{
    width: 15rem;
    margin: 0rem 2rem;
  }
}