.search-section{
    display: flex;
    gap: 2rem;
    width: auto;
    padding: 4rem 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.search-navigate{
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem 1rem 4rem;
    width: auto;
}

.search-nav-button{
    background-color: #FF3C3C;
    width: fit-content;
    border: none;
    padding: 0.5rem;
    font-size: large;
    border-radius: 0.2rem;
    cursor: pointer;
}